#Files
*.uvgui.*
*.uvguix.*
*.log
*.txt
*.scvd
*.dep
*.ewt
*.clangd
*.cprj
!CMakeLists.txt
compile_commands.json

# Folders
Obj/
.settings/
settings/
lst/
obj/
Listings/
Objects/
Output/
Release/
.vs/
out/
build/
.metadata/
tmp/

*.cbuild-run.yml
*.cbuild-idx.yml
*.cbuild-pack.yml
*.cbuild-set.yml
*.cbuild.yml
