#Files
*.uvgui.*
*.uvguix.*
*.log
*.txt
*.scvd
*.dep
*.ewt
*.clangd
*.cprj
!CMakeLists.txt

# Folders
Obj/
.settings/
settings/
lst/
obj/
Listings/
Objects/
Output/
Release/
.vs/
out/
build/
.metadata/
tmp/
RTE/